{{#partial "content"}}

    {{#if editArticle}}
        <div class="formDetails">
            <h1>Edit these details!</h1>
            <form class="form" action="/articles/{{Articles.id}}" method="post">
                <div class="form-group">
                    <label for="story">Edit this article</label>
                    <input id="story" name="story" type="text" value="{{Article.story}}">
                </div>

            </form>

    {{else}}
            <h1>Add a new Division!</h1>

        <form action="/articles" method="post">

            <div class="form-group">
                <label for="title">Enter Title</label>
                <input id="title" name="title" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="description">Enter Short Description</label>
                <input id="description" name="description" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="description">Enter Short Description</label>
                <input id="description" name="description" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="story">Example textarea</label>
                <textarea class="form-control" id="story" rows="100"></textarea>
            </div>

    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>
    </form>
    </div>
{{/partial}}

{{> layout.hbs}}