<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}news{{/block}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lusitana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

<div class="header">
    <div class="row">
        <div class="col-md-2">
            <div id="hamMenu">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <h2>Categories</h2>
                    <div class="departments">
                       <ul class="nav navbar-nav">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/department">Departments<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/gennews.hbs">Department Creation Form</a></li>
                                    <li><a href="/depnews.hbs">Employee Creation Form</a></li>
                                </ul>
                            </li>
                       </ul>
                    </div>
                    <div class="mpasho">
                        <ul class="nav navbar-nav">

                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">News <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/gennews.hbs">General News</a></li>
                                    <li><a href="/depnews.hbs">Departmental News</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <a href="/"><h1>SAFARICOM</h1></a>
            <h4><em>TWAWEZA! When we come together great things happen</em></h4>
        </div>
    </div>
</div>

<div class="everything">

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

{{#block "footer"}}
    <footer class="footer">

    </footer>
    <script>
     function openNav() {
     document.getElementById("mySidenav").style.width = "415px";
     }

     function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
     }
    </script>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </html>
{{/block}}