<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}news{{/block}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lusitana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<!--<nav class="navbar navbar-inverse" id="navigationbar" >-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a href="/"><p>Site Maintenance</p></a>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="myNavbar">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a href="/index"><p>Engineers</p></a></li>-->
<!--                <li><a href="/engineers/new"><p>Eng-Details</p></a></li>-->
<!--                <li><a href="/site"><p>Sites</p></a></li>-->
<!--                <li><a href="/sites/new"><p>Sites/Engineer</p></a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<div class="header">
    <div class="row">
        <div class="col-md-2">
            <div id="hamMenu">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <h3>Categories</h3>
                    <a href="#apparel">Departments</a>
                    <ul class="news">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">News<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/index"><p>General News</p></a></li>
                                <li><a href="/engineers/new"><p>Departmental News</p></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h1>SAFARICOM</h1>
            <h4><em>TWAWEZA! When we come together great things happen</em></h4>
        </div>
    </div>
</div>



<div class="everything">

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

{{#block "footer"}}
    <footer class="footer">

    </footer>
    <script>
     function openNav() {
     document.getElementById("mySidenav").style.width = "500px";
     }

     function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
     }
    </script>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </html>
{{/block}}