{{#partial "content"}}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> SECTIONS </h3>
        </div>

        <div class="panel-body">

            <table id="indexDetails">
                <thead>
                <tr>
                    <th scope="col">SECTION NAMES</th>
                    <th scope="col">DETAILS</th>
                </tr>
                </thead>
                {{#if sections}}
                    {{#each sections }}
                        <tbody>
                        <tr>

                            <td>{{section_name}}</td>
                            <td><p><a href="/sections/{{id}}"> View details</a></p></td>
                        </tr>
                        </tbody>

                    {{/each}}
                {{else}}
                    <p>No Sections yet!</p>
                {{/if}}
            </table>
        </div>

        <div class="panel-footer">
            <h4>Add Section!<a href="/sections/new">Here</a></h4>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}